<section id="temperatures_display_section">
  <header>Temperatures</header> 
  <% @temperatures.each do |t| %>
    <p id="temperature_display">
      <%= t %> &degC
    </p>
  <% end %>
</section>

<section id="hot_water_display_section">
  <header>
    Hot Water<br>
    <%= kWh_display(@reservoir.remaining_capacity_for_hot_water) %> kWh
  </header> 
  
  <%= content_tag("svg",  
    tag("rect", options_for_bar_displays[:hot_water]), 
    svg_tag_options) %>
    
</section>

<section id="heating_display_section">
  <header>
    Heating<br>
    <%= kWh_display(@reservoir.remaining_capacity_for_heating) %> kWh
  </header>
    
  <%= content_tag("svg",  
    tag("rect", options_for_bar_displays[:heating]), 
    svg_tag_options) %>  
    
</section>
